services:
  - type: web
    name: mvc-api
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    healthCheckPath: /v1/health
    envVars:
      - key: APP_NAME
        value: Vanilla PHP MVC API
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "false"
      - key: API_VERSION
        value: v1
      - key: DB_DRIVER
        value: mysql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: "3306"
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
